#game-content-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  margin: 2% 0%;

  #center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
  }

  #score-board {
    height: 80px;
    width: 100%;
    max-width: 350px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 1px 4px 6px black;
    background-color: antiquewhite;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  #winner-message-container,
  #on-play-message-container {
    flex: 1;
    max-width: 90%;
  }

  .name-short {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #on-play-message,
  #winner-message {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 4%;
    width: 260px;
  }

  #reMatch-btn {
    background-color: brown;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 1rem;
    color: antiquewhite;
    font-family: "Sigmar", cursive;
    border-style: none;
    text-wrap: nowrap;
    z-index: 10;
  }

  #winner-message-container #score-board-player-image {
    position: absolute;
    bottom: -35%;
    left: 75%;
    z-index: 10;
    max-width: 80px;
  }

  #on-play-message-container #score-board-player-image {
    position: absolute;
    max-width: 80px;
    width: 14%;
    margin: 0;
    bottom: -10%;
    left: 80%;
    z-index: 10;
  }

  @keyframes confetti-fall {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(2100%);
    }
  }

  .confetti {
    position: absolute;
    width: 6px;
    height: 6px;
    animation: confetti-fall 5s linear infinite;
  }

  #confetti-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 30%;
    width: 80%;
    z-index: 10;
  }

  #gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto 0px;
    margin-bottom: 10px;
  }

  .row {
    background-color: bisque;
    display: flex;
    justify-content: center;
  }

  .cell {
    border: solid 1px black;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .win {
    background-color: brown;
  }

  #gameboard {
    .small > img {
      height: 30px;
      width: 30px;
    }

    .medium > img {
      height: 60px;
      width: 60px;
    }
    .large > img {
      height: 100px;
      width: 100px;
    }
  }

  .selected-cell {
    background-color: blueviolet;
  }

  #player-fields-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
  }

  #player-field {
    border-radius: 10px;
    box-shadow: 1px 4px 6px black;
    height: 106px;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 0.792);
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #name_and_score {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(185, 185, 185);
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 0;
    padding-left: 15px;
    align-items: center;
  }

  #name_and_score #name {
    font-size: 1rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
  }

  #name_and_score #score {
    font-size: 1rem;
    text-align: center;
  }

  #player-field-pieces {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex: 1;
  }

  #player-field-pieces {
    .small > img {
      height: 24px;
      width: 24px;
    }

    .medium > img {
      height: 48px;
      width: 48px;
    }
    .large > img {
      height: 72px;
      width: 72px;
    }
    .selected {
      background-color: blueviolet;
    }
  }

  .piece,
  .disabled-piece {
    border-radius: 8px;
    margin: 2px;
    display: flex;
    width: fit-content;
  }

  #player-field .piece {
    border: solid 3px;
    cursor: pointer;
  }
  #player-field .piece :hover {
    scale: 1.2;
  }
  #player-field .disabled-piece {
    border: solid 3px;
    cursor: not-allowed;
  }
  #player-field .disabled-piece :hover {
    opacity: 0.5;
  }

  #option-menu {
    height: 70px;
    width: 100%;
    max-width: 350px;
    margin: 8px auto;
    border-radius: 10px;
    box-shadow: 1px 4px 6px black;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #how-to-play-dialog {
    position: absolute;
    padding: 20px 20px;
    left: 0;
    top: 20%;
    height: 70%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.892);
    line-height: 1.7rem;
    overflow-y: scroll;
    transition: 1s all;
    animation-name: fadeInUp;
    animation-duration: 1s;
    font-size: 1rem;
    margin-bottom: 0.75rem;
    z-index: 40;
  }

  #how-to-play-dialog-title {
    line-height: 2.5rem;
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

#icon {
  height: 40px;
}

#player-name-edit {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
  width: 100%;
}

#player-name-edit input {
  width: 80%;
}
