body {
  background-image: url("tile.jpg");
  background-size: 350px;
  min-width: 700px;
}

#game-content {
  display: flex;
  justify-content: center;
}

#player1-field,
#player2-field {
  border-radius: 10px;
  box-shadow: 1px 4px 6px black;
  height: 600px;
  max-width: 150px;
  background-color: rgba(255, 255, 255, 0.792);
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#player1-field > #player1-fieldーpieces > .piece {
  border: solid 3px rgb(49, 224, 255);
}

#player2-field > #player2-fieldーpieces> .piece {
  border: solid 3px rgb(255, 164, 60);
}

.name {
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
}

.score{
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
}

#player1-fieldーpieces, #player2-fieldーpieces {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.piece {
  border-radius: 8px;
  margin: 5px;
  display: flex;
  width:fit-content;
 }

.selected {
  background-color: blueviolet;
}

#gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto 0px;
}

.row {
  background-color: bisque;
  display: flex;
  justify-content: center;
}

.cell {
  border: solid 1px black;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.win {
  background-color: brown;
}

.small > img {
  height: 30px;
  width: 30px;
}

.medium > img {
  height: 60px;
  width: 60px;
}
.large > img {
  height: 100px;
  width: 100px;
}

.selected-cell {
  background-color: blueviolet;
}

#score-board {
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 4px 6px black;
  background-color: antiquewhite;
  font-size: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reMatch-btn {
  background-color: brown;
  margin: auto 30px;
  padding: 20px;
  font-weight: 600;
  border-radius: 10px;
  font-size: 20px;
  color: antiquewhite;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
