#game-content {
  display: flex;
  justify-content: center;
}

#player1-field,
#player2-field {
  width: 80px;
  background-color: aquamarine;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.piece {
  text-align: center;
  border: solid 1px black;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

#gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 20px 0px 20px 0px;
  flex-grow: 3;
}

.row {
  background-color: bisque;

  display: flex;
  justify-content: center;
}

.cell {
  border: solid 1px black;
  height: 100px;
  width: 100px;
  align-items: center;
  text-align: center;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
