#center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-content {
  display: flex;
  justify-content: center;
}

#player-field {
  border-radius: 10px;
  box-shadow: 1px 4px 6px black;
  height: 600px;
  max-width: 150px;
  background-color: rgba(255, 255, 255, 0.792);
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#player-field > #player-fieldーpieces > .piece {
  border: solid 3px;
}

.name {
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  text-align: center;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.score {
  font-size: 40px;
  font-weight: 900;
}

#player-fieldーpieces {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.piece {
  border-radius: 8px;
  margin: 5px;
  display: flex;
  width: fit-content;
}

.selected {
  background-color: blueviolet;
}

#gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto 0px;
}

.row {
  background-color: bisque;
  display: flex;
  justify-content: center;
}

.cell {
  border: solid 1px black;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.win {
  background-color: brown;
}

.small > img {
  height: 30px;
  width: 30px;
}

.medium > img {
  height: 60px;
  width: 60px;
}
.large > img {
  height: 100px;
  width: 100px;
}

.selected-cell {
  background-color: blueviolet;
}

#score-board {
  height: 150px;
  width: 350px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 4px 6px black;
  background-color: antiquewhite;
  display: flex;
  position: relative;
  justify-content: center;
}

#on-play-message,
#winner-message {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#on-play-message {
  margin-top: 70px;
}

#winner-message {
  position: absolute;
  width: 100%;
  margin-top: 20px;
}

#score-board-player-image > img {
  margin: 0;
  width: 100px;
  overflow: hidden;
  position: relative;
  top: 10px;
}

#reMatch-btn {
  background-color: brown;
  margin: auto 30px;
  padding: 15px;
  font-weight: 400;
  border-radius: 10px;
  font-size: 20px;
  color: antiquewhite;
  font-family: "Sigmar", cursive;
  border-style: none;
  z-index: 10;
}

#option-menu {
  height: 100px;
  width: 350px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 4px 6px black;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#icon-platypus,
#icon-monkey {
  height: 40px;
}

.player1-name-edit,
.player2-name-edit {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(2100%);
  }
}

.confetti {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: rgb(255, 255, 0);
  animation: confetti-fall 5s linear infinite;
}

#confetti-container {
  position: fixed;
  top: 26px;
  height: 150px;
  width: 340px;
  z-index: 10;
}
