html {
  font-size: 100%;
  width: 100vw;
}

body {
  margin: 0;
  background-image: url("../src/pages/GameBoard/img/tile.jpg");
  background-size: 100vw;
  font-family: "Sigmar", cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
