html {
  font-size: 100%;
  width: 100vw;
}

body {
  margin: 0;
  background-image: url("/src/images/tile.jpg");
  background-size: 350px;
  min-width: 700px;
  font-family: "Sigmar", cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
